<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0 hbgg">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">Invoice</span>
      <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content>
    <div fxLayout style="height: 60vh">
      <div fxFlex="99.9" class="role-side-bar">
        <div fxLayout="row" fxLayoutAlign="start" fxFlex="1 0 auto">
          <iframe *ngIf="DSSConfigurationData" style="width:100%;height:100%;" [src]="DSSConfigurationData"></iframe>
        </div>
      </div>
      <div fxFlex="0.01"></div>
    </div>
  </div>

  <mat-dialog-actions class="m-0 p-16" align="end">
    <button mat-button class="hbo" type="button" (click)="CloseClicked()">Cancel</button>
  </mat-dialog-actions>
</div>