<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

  <div id="login-intro" fxFlex fxHide fxShow.gt-xs>
  </div>

  <div [style.background-color]="'white'" fusePerfectScrollbar
    [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

    <div id="login-form">

      <div class="logo">
      </div>
      <!-- <form name="loginForm" [formGroup]="loginForm" class="mt-64" novalidate>
        <mat-form-field>
          <input matInput placeholder="User Name" formControlName="userName" required>
          <mat-error *ngIf="loginForm.get('userName').hasError('required')">
            User name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error>
            Password is required
          </mat-error>
        </mat-form-field>

        <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
          <span class="forgot-password" (click)="OpenForgetPasswordLinkDialog()">
            Forgot Password?
          </span>
        </div>

        <button mat-raised-button class="submit-button" aria-label="LOGIN" (click)="LoginClicked()">
          LOGIN
        </button>

      </form> -->
      <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="ProgressBarPostion" color="accent"
        mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>
  <div id="overlay" *ngIf="IsProgressBarVisibile"></div>
</div>